@model List<SBC.TimeCards.Service.Models.Templates.TemplateViewModel>
@{
    Layout = null;
}
<hr />
<div id="templates" class="col-12">

    @foreach (var item in Model)
        {
            Html.RenderAction("RenderTemplate", "Templates", item);
        }
    
</div>
<hr>