<div style="display:none">
    
</div>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
        </div>
        <div class="navbar-brand">
            <a href="index.html"><img src="~/Lucid/assets/images/logo.svg" alt="Lucid Logo" class="img-responsive logo"></a>
        </div>

        <div class="navbar-right">
            <form id="navbar-search" class="navbar-form search-form">
                <div id="search-wrapper">
                    <input value="" class="form-control yy" placeholder="Search here..." type="text"  style="width: 400px;">
                    <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
                    <div class="xx" style="" id="res">
                        <div id="s-res"></div>
                        <img src="/Lucid/assets/images/page-loader.gif" width="30" id="loading" />
                    </div>
                </div>
            </form>
            <div id="navbar-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" class="icon-menu" title="Logout" data-toggle="modal" data-target="#logoutModal"><i class="icon-login"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>