@{
    ViewBag.Title = "Home Page";
}
@model SBC.TimeCards.Models.DashBoardProjectsViewModel
@section styles{
    <style>
        .color-container
        {
                display: flex;
    flex-wrap: wrap;
    margin: -5px;
    
    margin-top: 10px;
        }
        .color-cell
        {
            height: 20px;
    margin: 5px;
    width: 20px;
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
        border: 1px solid #f1ecec;
    background-color: #2b78dc;
        }
        .project-icon
        {
            font-size: 40px;
    color: whitesmoke;
        }

        .project-header
        {
            
        }
        
        .project-card:hover
        {
            transform: translate3d(0, -5px, 0);
        }
        .project-item
        {
            border-radius: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 200px;
    /*min-width: 170px;*/
    padding: 15px 11px;
    /*width: 170px;*/
    align-items: center;
    background: rgba(246,248,249,0);
    display: flex;
    flex-flow: column;
    position: relative;
    transition-duration: .4s;
        }

        .project-container
        {
                border-radius: 20px;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 -2px rgba(0,0,0,.05);
    align-items: center;
    background: #b7bfc6;
    display: flex;
    fill: #fff;
    flex-direction: column;
    justify-content: center;
    flex-flow: column;
    position: relative;
        }
        .project-title
        {
            box-sizing: border-box;
    margin-top: 5px;
    padding: 2px 10px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #151b26;
    display: -webkit-box;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    max-height: 34px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
        }

        .project-header{
                display: inline !important;
    float: right !important;
    /* padding: 0; */
    /* margin: 0; */
    padding: 0px !important;
    height: 10px !important;
    width: 1px !important;
    z-index: 10 !important;
        }
    </style>    
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Dashboard</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"><a href="@Url.Action("Index","Home")"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item"></li>
                @*<li class="breadcrumb-item active">Page Blank</li>*@
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header" style="background-color:#7faedf">
                <h2>Active Projects</h2>
            </div>
            <div class="body">
                <div class="row">
                    @foreach (var project in Model.ActiveProjects)
                    {
                        Html.RenderPartial("ProjectItem", project);
                    }
                    <div class="col-lg-2 col-sm-4 col-md-4">
                        <div class="card project-card" style="border:none; box-shadow:none">
                            <div class="header project-header">
                            </div>
                            <a class="project-item" href="@Url.Action("Create","Projects")">
                                <div class="project-container" style="background-color: transparent;border: 3px dashed #b6b5b5;" id="pr-new">
                                    
                                        <i class="fa fa-plus project-icon" style="color: #8d8d8d;"></i>
                                    
                                </div>
                                <div class="project-title">
                                    Create New Project
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header" style="background-color:#dcdcdc">
                <h2>Archived Projects</h2>
            </div>
            <div class="body">
                <div class="row">
                    @foreach (var project in Model.ArchivedProjects)
                    {
                        Html.RenderPartial("ProjectItem", project);
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function changeColor(projectId, color) {
            $.ajax({
                type:'post',
                url: '@Url.Action("ChangeColor", "Projects")',
                data: { id: projectId, color: color },
                success: function (data) {
                    if (data.success) {
                        $('#pr-' + projectId).css('background-color', color);
                    }
                }
            })
        }
    </script>
}